.FAQs-container {
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  max-width: 500px;
  transition: all 1s;
}

h1 {
  /* color: black; */
  /* margin-bottom: 11px; */
}

.item + .item {
  margin-top: 11px;
}

.question {
  /* font-weight: bold; */
  cursor: pointer;
}

.answer {
   font-style: italic;
}