.padded-div {
  max-width: 1000px;
  margin: 0 auto;
}

.App header {
  text-align: center;
  color: var(--my-white);
}

.App h1 {
  font-size: 40px;
}

.App h2 {
  margin-top: 10px;
  font-size: 30px;
}

.loading {
  margin-top: 25px;
}

.loading p { 
  text-align: center;
  color: var(--my-white);
}

.loading-spinner {
  display: flex;
  justify-content: center;
}

.dashboard {
  margin: 10px;
}

.analysis h1 {
  text-align: center;
}

@media only screen and (min-width: 640px) {
  .analysis {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .col {
    width: 30%;
  }
}