.App {
  text-align: center;
  padding: 5px 10px;
}


/* 
h1, h2 {
  color: white;
} */

/* ul {
  list-style-type: none;
} */

@media only screen and (min-width: 640px) {
  .sentiment {
    float: right;
  }
}